.MuiCardContent-root{
    padding-top: 12px !important;
    padding-right: 12px !important;
    padding-bottom: 0px !important;
    padding-left: 12px !important;
}

.panel-outerMargin.MuiPaper-rounded {
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 5px !important;
}

.MuiGrid-container {
    width: 100%;
    display: flex;
    align-content: left !important;
    flex-wrap: wrap;
    flex-direction: row !important;
    box-sizing: border-box;
    padding-top: 10px;
}

.MuiGrid-item
{
    text-align: left !important;
    margin-left: 0px;
    padding-left: 17px;
    padding-bottom: 5px;
}

.panel-heading {
    text-align:center;
    color: #041c3d;
    font-size: 20px;
    padding-left: 5px;
}

.MuiCardHeader-root{
    padding-top: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 0px !important;
    padding-left: 10px !important;
}

.currency-display {
    font-size: 18px;
    font-weight: 700;
}

.progress-stepper {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    background-color:#F5F5F5 !important;
}

.quotePremium-table {
    border-radius: 25px !important;
    border: 2px solid #041c3d !important;
    padding: 20px; 
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
}

.stepper-stepContent {
    background-color:#F5F5F5 !important;
}

.MuiFormControl-marginNormal {
    margin-top: 2px !important;
}